
.header {
    background-color: #fff;
    padding: 10px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;

}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.dropdown {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 20px;
    position: absolute;
    background-color: burlywood;
    color: brown;
}

.dropdown ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dropdown ul li a {
    cursor: pointer;
}

.dropdown ul li a:hover {
    background-color: brown;
    color: white;
}

.list li a {
    position: relative;
}