@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}

body {
  height: 100vh;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}


.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f5f6;
  width: 20rem;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  box-shadow: 26px 17px 28px 0px rgba(0, 0, 0, 0.1);
}